* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: #E5E5E5;

    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}
/*************************BUTTONS****************************/
.btn-blue {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    text-align: center;

    padding: 15px 51px;
    background-color: #0063DD;
    border-radius: 25px;
    border: none;
}

.btn-blue:hover {
    background-color: #095fc9;
    color: #929292;
    cursor: pointer;
    transition: .2s;
}

.btn-nocolor {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #0F7BFF;
    font-family: 'Quicksand', sans-serif;
    text-align: center;

    padding: 15px 51px;
    border-radius: 25px;
    border-color: #0F7BFF;
}

.btn-nocolor:hover {
    background-color: #095fc9;
    color: #929292;
    cursor: pointer;
    transition: .2s;
}
/*************************CONTAINERS****************************/
.container__nav {
    width: 90%;
    margin: 0px auto;
}

.container {
    width: 70%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: flex-start;
}

/************************NAV***************************/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
}

.nav__logo a {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    color: #ffffff;
    text-align: center;

    border-radius: 0px 0px 21.5px 21.5px;
    background: #0F7BFF;
    padding: 25px 23px 32px 23px;
}

.nav__bar__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__bar__item {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #929292;
    text-transform: uppercase;

    padding: 0px 25px 0px;


}

.nav__bar__item:hover {
    color: #095fc9;
    transition: .2s;
}

.active {
    color: #0F7CFF;
}

.nav__bar__items button {
    text-transform: uppercase;
}

/************************HEADER CONTENT***************************/



 .header__content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-column: 4/10;
    grid-row: 1/2;
} 

.header__content__heading {
    display: grid;
    text-align: center;
}

.header__content__heading h1 {
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: 45px;
    color: #000000;
    margin: 180px 0px 30px 0px;
}

.header__content__text {
    display: grid;
    text-align: center;
}

.header__content__text p {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    color: #929292;
    margin: 0px 0px 33px 0px;
}

.header__content__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

/*/.header__content__test {
   display: grid;
   grid-column: 2/3;

}

.header__content__imgs {
  display: flex;
}

.phone-s {
    width: 265px;
    height: 527px;
}

.first {

}



.phone-b {
    width: 319px;
    height: 918px;
}

